{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Мои репортажи</h3>
    </div>
    <div class="row">
        <a href="/new" class="btn waves-effect waves-light c" style="text-align:center;">добавить новый<i class="material-icons right">add</i></a>
    </div>
    <div class="row">
        {% for note in user.notes %}
        <div class="col s12 m6 l4">
            <div class="card {% if note.encrypted %}deep-orange darken-3{% else %}blue-grey darken-1{% endif %}">
                <div class="card-content white-text">
                    <span class="card-title">
                        {% if note.encrypted %}
                            <i class="material-icons left">lock</i>
                        {% endif %}
                        Репортаж
                    </span>
                    <p>{{ note.text[:100] }}...</p>
                </div>
                <div class="card-action">
                    <a href="/note/{{ note.id }}">Открыть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}